<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= fxj.description %></title>
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/canvas.js"></script>
  </head>
  <body>
    <canvas width="1920" height="950"></canvas>
  </body>
</html>
